# SPDX-FileCopyrightText: 2025 David Rabkin
# SPDX-License-Identifier: 0BSD
# MacOS cannot run containers natively, run lint tests only.
---
name: test-mac
'on': [pull_request, push]
env:
  BASE_REL: 0.9.20251111
  BASE_SRC: https://github.com/rdavid/shellbase/archive/refs/tags/v0.9.20251111.tar.gz # yamllint disable-line
jobs:
  test-mac:
    name: Test on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    strategy:
      matrix:
        os:
          - macos-14
          - macos-15-intel
    steps:
      - uses: actions/checkout@v5
      - run: |
          brew upgrade
          brew install goredo
          curl --location --silent "$BASE_SRC" |
            tar \
              --directory /usr/local/bin \
              --extract \
              --gzip \
              --strip-components=2 \
              shellbase-"$BASE_REL"/lib/base.sh
          redo -xx lint
